@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');



/* including all tailwind layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --even-row-bg-col: rgb(241 245 249);
    --even-row-bg-col2: rgb(226 232 240);
    --header-bg-col: rgb(156 163 175);
    --pro-sidebar-bg-col: rgb(226 232 240);
    --mui-table-header-col: #4B49AC;
}


/* view all employees - data grid styling */
.display-employees-grid-header {
    background-color: var(--mui-table-header-col);
    color: white;
    
}

/* .even-rows {
    background-color: var(--even-row-bg-col2);
} */

.odd-rows {
    background-color: var(--even-row-bg-col2);
}


/* .add-new-leave-session {
    width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-top: 1%;
} */


.add-user-form-styling {
    width: 70%;
    /* text-align: center; */
    margin-left: 15%;
    margin-top: 1%;
    background-color: white;
}

.page-header {
    text-align: center;
    margin-top: 1%;
}

.add-employee-form-input-row {
    margin-bottom: 2%;
}


.adding-emp-div {
    text-align: center;
    display: flex;
}


.dashboard-content-hover-effect {
    transition: all 0.5s ease;
}

.dashboard-content-hover-effect:hover {
    transform: scale(1.04);
    box-shadow: 2px 2px 8px grey;
}

.navbar-wrapper-section-res {
    display: flex;

}

.form-submit-error-text {
    color: red;
}

.display-emp-det-div {
    height: 85%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
}

.add-emp-btn {
    width: 100%;
    background-color: blue;
    
}


.update-employee-details {
    text-align: center;
    margin-top: 1%;
}

.not-found-div {
    text-align: center;
}

.not-found-icon {
    margin-left: 38%;
    margin-top: 7%;
    margin-bottom: 1%;
    width: 20%;
}

.update-employee-current-image {
    /* width: 10%; */
    text-align: center;
    margin-left: 30%;
    margin-bottom: 3%;
}

.details-form {
    margin-left: 10%;
    margin-right: 10%;
}

.datepicker_styling {
    width: 100%;
    height: 40%;
}

.submit-btn {
    background-color: red;
}

.form-control-border {
    border-color: red
}


/* .ems-text-md-screen {
    margin-left: 24rem;
} */


/* tailwind reusable styling */
@layer base {
    .main_content_styling {
        @apply w-full bg-gray-100;
    }

    .label_styling {
        @apply text-slate-500 text-sm md:text-base;
    }

    .extra-form-styling {
        @apply rounded-md bg-white p-2 md:p-7 mb-6 shadow-md;
    }

    .page-header-text {
        @apply text-center font-inter text-[#4B49AC] text-lg md:text-2xl mt-5 p-1;
    }

    .dashboard-object-styling-four-cols {
        @apply flex justify-around py-8 md:py-8 sm:w-72 rounded-md;
    }

    .dashboard-object-styling-three-cols {
        @apply flex justify-around py-8 md:py-8 rounded-md;
    }

    .add-user-form-col-mb {
        @apply mb-4;
    }

    .add-user-form-last-row {
        @apply mb-3;
    }

    .saving-emp-text {
        @apply mb-1 text-white ml-64;
    }

    .saving-emp-spin {
        @apply ml-4 mt-1
    }

    .input-form-ctrl-mb {
        @apply mb-3;
    }


}







/* responsive styling */
@media screen and ( max-width: 480px ) {
    .dashboard-content-res-mb {
        margin-bottom: 3%;
        padding: 2%;
    }

    .title-text-res {
        font-size: 0.85rem;
    }

    .welcome-admin-text-res {
        font-size: 0.75rem;
        font-weight: bold;
    }

    .dashboard-section-res {
        margin-top: 20%;
    }

    .vag-header-text-res {
        font-size: 0.8rem;
        font-weight: bold;
        
    }

    .navbar-parent-section {
        display: block;
    }

    .navbar-wrapper-section-res {
        display: block;
    }

    .ems-text-res {
        font-size: 0.85rem;
    }

    .add-user-form-styling {
        width: 94%;
        /* text-align: center; */
        margin-left: 1%;
        margin-top: 1%;
        background-color: white;
    }
    
    
    .add-new-employee-form {
        width: 94%;
        /* text-align: center; */
        margin-left: 1%;
        margin-top: 1%;
    }

    .add-employee-form-input-row {
        margin-bottom: 7%;
    }

    .add-employee-header {
        text-align: center;
        margin-top: 12%;
        margin-bottom: 8%;
        font-size: 1.2rem;
    }

    .fetching-emps-text-res {
        font-size: 0.9rem;
    }

    .loading-emps-div {
        margin-top: 40%; 
    }

    .display-emp-det-div {
        height: 95%;
        margin-left: 2%;
        margin-right: 2%;
        padding: 2%;
    }

    .update-employee-btn {
        margin-bottom: 5%;
    }

    .add-emp-btn {
        width: 100%;
        background-color: #4B49AC;
        margin-bottom: 5%;
    }

    .update-emp-details {
        text-align: center;
        margin-top: 12%;
        margin-bottom: 8%;
        font-size: 1.2rem;
    }

    .not-found-icon {
        /* margin-left: 35%; */
        margin-top: 20%;
        margin-bottom: 4%;
        width: 30%;
    }

    .add-new-leave-session {
        width: 94%;
        /* text-align: center; */
        margin-left: 3%;
        margin-top: 1%;
    }
        

    
    
    
    
    


}




